section {
    padding: 10px 0;
    margin: 0;
}

#suggested {
    height: 250px;
    background-color: #dab284;
}

.__event_date {
    padding: 5px;
    background-color: darkgrey;
}

.__event_date p {
    text-transform: uppercase;
    margin-bottom: 0;
}

.__event_image {
    min-width: 65px;
    min-height: 65px;
}

.__event_description {
    margin-left: 5px;
    padding: 15px;
}

.__banner {
    height: 300px;
    background-color: darkgrey;
    overflow: hidden;
    padding: 0;
}

.__banner .wrapper{
    height: 100%;
}

.__banner .wrapper ._content h1,.__banner .wrapper ._content p {
    width: auto;
    padding: 4px;
    background-color: #fdebe3;
    opacity: 0.8
}

.__suggested_thumb {
    height: 110px;
    background-color: #ac6f67;
}
