@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400');
/* put imported text above this line, then delete this line */
/******************************************
*
*GENERAL STYLING TABLE OF CONTENTS*
1) GENERAL
2) FORMS
*
********************************************/

/* 1) GENERAL */
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	/* font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; */
	font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
	padding: 0;
	background-color: rgb(248, 248, 248);
}

main {
	margin-bottom: 3em;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #c7ac7b;
}

a:hover {
	color: #495769;
	text-decoration: none;
}

.btn, .btn:visited {
	color: #FFF;
	background-color: #c7ac7b;
	font-weight: 700;
	border: 1px solid rgba(0,0,0,0.37);
}
.btn:hover, .btn:active {
	color:  rgb(85, 85, 85);
}

ul {
	padding: 0;
	margin: 0;
}

#logo {
	width: 15%;
	height: auto;
}

.social {
	width: 30px;
	height: auto;
	margin: 0.25em;
}

.comment-wrapper {
	padding-bottom: 1rem;
}

.media {
	margin-bottom: 20px !important;
}

.media-left a .rounded-circle{
	margin-right: 10px;
}

/* 2) FORMS */
.error {
	color: red;
	font-weight: bold;
}

.form_button {
	display: inline-block;
	margin: 0.5em;
}

textarea {
outline: none !important;
box-shadow:none !important;
border:1px solid #ccc !important;
}

/* 3) NAVIGATION */
.navbar {
	background: rgba(104, 144, 144, 0.78);
	font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
	border: none;
}

.invisible {
	font-size: 0px;
	padding: 0px;
}

.nav>li>a:focus, .nav>li>a:hover {
	color: #495769;
}

.navbar-light .navbar-nav .nav-link {
	color: #FFF;
}

#main-nav li:last-child {
	position: absolute;
	right: 0;
}

#main-nav {
	position: relative;
}

#sitemap {
	width: 60%;
	list-style: none;
	/* line-height: 2em; */
	display: flex;
	flex-flow: row wrap;
	max-height: 7em;
}

/* 4) HEADINGS */
#title {
	margin: 2em auto;
}

#title h2 {
	text-transform: uppercase;
}

h2 {
	/* font-family: 'Roboto Condensed', 'Helvetica Neue', Arial, sans-serif; */
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: capitalize;
}

/* CHOWTIME HANDWRITTEN SCRIPT */
#chow {
	stroke-dasharray: 750;
	-moz-animation: chow 5s linear;
	-webkit-animation: chow 5s linear;
	animation: chow 5s linear;
}

.chowtime {
	fill:none;
	stroke-width: 8;
	stroke:#010101;
	stroke-miterlimit:10;
	stroke-linecap: round;
}

@keyframes chow {
	0% {stroke-dashoffset: 750;}
	50% {stroke-dashoffset: 0;}
}

#topt {
	stroke-dasharray: 96;
	animation: topt 5s linear;
	-moz-animation: topt 5s linear;
	-webkit-animation: topt 5s linear;
}

#bottomt {
	stroke-dasharray: 83;
	animation: bottomt 5s linear;
	-moz-animation: bottomt 5s linear;
	-webkit-animation: bottomt 5s linear;
}

#ime {
	stroke-dasharray: 498;
	animation: ime 5s linear;
	-moz-animation: ime 5s linear;
	-webkit-animation: ime 5s linear;
}

#dot {
	stroke-dasharray: 3;
	animation: dot 5s linear;
	-webkit-animation: dot 5s linear;
	-moz-animation: dot 5s linear;
}

@keyframes topt {
	0%, 50% {stroke-dashoffset: 96;}
	55% {stroke-dashoffset: 0;}
}
@keyframes bottomt {
	0%, 55% {stroke-dashoffset: 83;}
	60% {stroke-dashoffset: 0;}
}
@keyframes ime {
	0%, 60% {stroke-dashoffset: 498;}
	90% {stroke-dashoffset: 0;}
}
@keyframes dot {
	0%, 90% {stroke-dashoffset: 3;}
	100% {stroke-dashoffset: 0;}
}

/* FOOTER */

footer {
	background-color: rgba(104, 144, 144, 0.78);
	padding: 0.5rem;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
}

.footer-text {
	padding: 0.5rem;
}

footer a {
	color: #FFF;
}

.footer-logo-container {
	width: 5em;
}

.footer-logo {
	width: 100%;
}

/* COMMENT BOX */
.comment-box {
	padding-bottom: 1rem;
}


/* MEDIA */
@media (max-width: 767.98px) {
	#chow {
		width: 7em;
	}
	#time {
		width: 7em;
	}
}