
/* put imported text above this line, then delete this line */
/******************************************
*
*GENERAL STYLING TABLE OF CONTENTS*
1) GENERAL
2) FORMS
*
********************************************/

/* 1) GENERAL */
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

header {
	margin-bottom: 3em;
}

footer {
	margin-top: 3em;
}

a {
	text-decoration: none;
	font-weight: bold;
}

ul {
	padding: 0;
	margin: 0;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li:not(:last-child)::after {
	content: " | ";
}

/* nav li:last-child {
	content: "";
} */



/* 2) FORMS */
.error {
	color: red;
	font-weight: bold;
}

.form_button {
	display: inline-block;
	margin: 0.5em;
}
