/* FONTS */
#searchResults h2 {
	padding-top: 2rem;
	color: #FFF;
}

h2 {
	color: #FFF;
}

/* BACKGROUND IMAGE */
#bg-img {
	background-image: url("../../images/index-bg.jpg");
	/* position: absolute; */
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

#chowtime {
	width: 50%;
}

/* SEARCH CONTAINER */
#search {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 75%;
	height: 15em;
	background-color: rgba(73, 87, 105, 0.8);
}
#searchAll {
	display: flex;
	flex-flow: row wrap;
	width: 80%;
}
#form_search {
	flex: 4 2 1;
	/* width: 60%; */
}
#searchRecipesBtn {
	flex: 1 1 2;
}
#searchResults h2 {
	color: #000;
}

/* CHOWTIME HANDWRITTEN SCRIPT */
#chow {
	stroke-dasharray: 750;
	-moz-animation: chow 5s linear;
	-webkit-animation: chow 5s linear;
	animation: chow 5s linear;
}

.chowtime {
	fill:none;
	stroke-width: 8;
	stroke:#010101;
	stroke-miterlimit:10;
	stroke-linecap: round;
}

@keyframes chow {
	0% {stroke-dashoffset: 750;}
	50% {stroke-dashoffset: 0;}
}

#topt {
	stroke-dasharray: 96;
	animation: topt 5s linear;
	-moz-animation: topt 5s linear;
	-webkit-animation: topt 5s linear;
}

#bottomt {
	stroke-dasharray: 83;
	animation: bottomt 5s linear;
	-moz-animation: bottomt 5s linear;
	-webkit-animation: bottomt 5s linear;
}

#ime {
	stroke-dasharray: 498;
	animation: ime 5s linear;
	-moz-animation: ime 5s linear;
	-webkit-animation: ime 5s linear;
}

#dot {
	stroke-dasharray: 3;
	animation: dot 5s linear;
	-webkit-animation: dot 5s linear;
	-moz-animation: dot 5s linear;
}

@keyframes topt {
	0%, 50% {stroke-dashoffset: 96;}
	55% {stroke-dashoffset: 0;}
}
@keyframes bottomt {
	0%, 55% {stroke-dashoffset: 83;}
	60% {stroke-dashoffset: 0;}
}
@keyframes ime {
	0%, 60% {stroke-dashoffset: 498;}
	90% {stroke-dashoffset: 0;}
}
@keyframes dot {
	0%, 90% {stroke-dashoffset: 3;}
	100% {stroke-dashoffset: 0;}
}


/* MEDIA */
@media (max-width: 767.98px) {
	#chow {
		width: 7em;
	}
	#time {
		width: 7em;
	}
}