.diff {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    text-align: center;
}

.wrapper {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#morehover {
    text-decoration: underline;
    color: rgb(73, 73, 73);
}
