/*
LEGEND
======

PAGE LAYOUT
IMAGES
ICONS
COMMENTS
 */

 /* USE EVERYWHERE */


/* PAGE LAYOUT */
main {
    width: 80%;
    margin: 0 auto;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

/* PAGE TITLE */
#title {
    padding-left: 15px;
}

/* IMAGES */
#main {
    width: 100%;
}

.thumbnail-images-container {
    margin: 0px;
}

.thumbnail-container {
    width: 10em;
    display: inline-block;
}

.thumbnail {
    width: 100%;
    padding: 1rem 1rem 0rem 0rem;
    border: none;
}

/* ICONS */
.icon-img-container {
    width: 2em;
    display: inline-block;
}

.icon {
    width: 100%;
}

.caption {
    position: absolute;
    border: 1px solid black;
    top: 50%;
    left: 0;
    background: white;
    border-radius: 2px;
    font-size:10px;
    padding: 0.2rem;
}

.icon-text-container {
    padding: 0;
}

/* COMMENTS */
.comments-display-container {
    margin-top: 20px;
}

.user-comment-container {
    margin-bottom: 1rem;
}

.user_comment {
    margin-top: 1rem;
}

.profile-photo {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
